{% extends 'base.html' %} {% load static %} {% block content %}
<section class="home-hero">
  <input
    class="search-bar-form form-control form-control-md search-input"
    type="search"
  />
</section>
<section class="container word-container text-center">
  <h1 class="word-heading"></h1>
  <p class="word-definition"></p>
  <h3>Examples</h3>
  <p class="word-example"></p>
  <h3>Phrases</h3>
  <p class="word-phrase"></p>
</section>
<section class="text-center">
  <span> 12029 ❤️</span>
  <span> Like 👍</span>
</section>

<script src="{% static 'js/index-bundle.js' %}"></script>
{% endblock content %}
