{% extends 'base.html' %} {% block content %}
<section class="home-hero">
  <form method="POST" class="search-bar-form">
    {% csrf_token %}
    <input class="form-control form-control-md" name="word" type="text" />
  </form>
</section>
<section>
  <h1 class="text-center">New</h1>
  <div class="word-section">
    {% for word in new_words %}
    <a href="{% url 'word_template' word.name.lower %}">
      <div class="card" style="width: 18rem">
        <img
          src="static/images/hero-image.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">{{ word.name }}</h5>
        </div>
      </div>
    </a>

    {% endfor %}
  </div>
</section>
<section>
  <h1 class="text-center">Popular</h1>
  <div class="word-section">
    {% for word in popular_words %}
    <a href="{% url 'word_template' word.name.lower %}">
      <div class="card" style="width: 18rem">
        <img
          src="static/images/hero-image.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">{{ word.name }}</h5>
          <p class="card-text">{{ word.likes }} 👍</p>
        </div>
      </div>
    </a>

    {% endfor %}
  </div>
</section>

{% endblock content %}
